/Update-master/local.properties
/Update-master/Update-master.iml
/Update-master/.gradle
/Update-master/.idea
/Update-master/sample/build
/Update-master/sample/sample.iml
/Update-master/update/build
/Update-master/update/update.iml
